.example {
  font-size: 16px; // Reset tufte-css
  position: relative;
  margin: 0 0 3em;

  &__output {
    position: relative;
    padding: 1em;

    code {
      white-space: nowrap;
    }
  }

  &__code {
    position: relative;
    border-radius: .5em;
    background: #eee;

    code,
    pre {
      font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
      font-size: 12 / 16 * 1em;
      font-weight: inherit;
      line-height: 18 / 12 * 1em;
    }

    pre {
      line-height: 1.5em;
      margin-top: 0;
      margin-bottom: 0;
      padding: 1em;
      word-break: normal;
      word-wrap: normal;
      overflow: auto;

      code {
        font-size: 1em;
      }
    }
  }
}

figure + .example {
  margin-top: -1.5em;
}

@media (min-width: 761px) {
  .example {
    width: 90%;
    max-width: 48em;
  }
}
