.example {
  position: relative;
  border: 1px solid #ccc;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  margin: 1.5em auto; }
  .example__output {
    position: relative;
    padding: 1em; }
    .example__output code {
      white-space: nowrap; }
  .example__code {
    position: relative;
    border-top: 1px solid #ccc;
    background: #eee; }
    .example__code code,
    .example__code pre {
      font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
      font-size: 0.75em;
      font-weight: inherit;
      line-height: 1.5em; }
    .example__code pre {
      line-height: 1.5em;
      margin-top: 0;
      margin-bottom: 0;
      padding: 1em;
      word-break: normal;
      word-wrap: normal;
      overflow: auto; }
      .example__code pre code {
        font-size: 1em; }
